* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.card {
    display: flex;
    flex-wrap: nowrap;
    width: 1920px;
    height: 1080px;
}

.photo {
    position: relative;
    width: 638px;
    height: 1080px;
    background: url("./../images/cat.jpg");
    background-position: -478px 0px;
    background-size: 243%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.photo__text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 638px;
    height: 111px;
    bottom: 0px;
    background-color: black;
}

.photo > .photo__text-wrapper > span {
    font-size: 56px;
    color: white;
}

.info-container {
    width: 1282px;
    height: 1080px;
}

.info {
    margin-left: 70px;
}

.info__name-city {
    margin-top: 40px;
    font-weight: 500;
}

.name-city__name {
    margin-bottom: 20px;
    font-size: 48px;
}

.name-city__city {
    font-size: 24px;
}

.info__social {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
